/* You can add global styles to this file, and also import other style files */

$styleVersion: 4.3;
@import "~@spartacus/styles/index";

:root {
  body {
    --cx-color-primary: pink;
    .search-icon {
      display: none;
    }
  }
}
